.rest-list .container{
	background: #ffffff;
	border-top: 5px solid #41c130;
}


/*=============== spinner =================*/
.search_rest{
	padding:20px 0px 0px 0px;
}
.search_rest .container{
	 /* background-color: #41c130; */
	 padding:30px 10px 
}
.spinner{
	display:none;
	position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -50px; 
    margin-top: -50px; 
    text-align:center;
    z-index:1234;
    overflow: auto;
    width: 200px; 
    height: 202px; 
}

#filterRestype{
	border-radius: 50px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border: 2px solid #41c130;
}
.search_rest #keyword{
	border-radius: 50px 0px 0px 50px;
	-webkit-border-radius: 50px 0px 0px 50px;
	-moz-border-radius: 50px 0px 0px 50px;
	border-top:1px solid #41c130;
	border-bottom:1px solid #41c130;
	border-left:1px solid #41c130;
}
#fa-btnsearch{
	border-radius: 0px 50px 50px 0px;
}
/* ======================== Page Restaurant List ======================= */
#getRest{
	
	
}
#sidebar{
	/* background-color: #41c130; */
}
#pagelimit{
	/* background:#f9f9f9; */
	clear:both;
}

.rest-list{
	/* margin-top:30px; */
		
}
 .list-box img{
	width:350px;
	height:170px;
}
.rest-list  .box-filter, .box-sort {
	background-color: #41c130;
	padding: 20px 0px 15px 10px;
	color: #ffffff;
}
.rest-list .box-filter{
	margin: 20px 0px 0px 0px;
}
 .rest-list .box-sort{
	margin-top:30px;
	height:725px;
}
.rest-list  .box-sort h5{
	margin-top:10px;
}
.rest-list  .selection{
	color:#b1b1b1;
}

 .rest-list .list-box{
	background-color:#ffffff;
	 box-shadow: 5px 5px 5px #dedede;
	 margin: 20px 0px;
}
 .rest-list .list-box img{
	padding: 5px 5px 5px 10px;
}
 .rest-list .list-box  p:nth-child(1) {
   /*  font-size: 18px; */   
    color: #4dd23b;
   	padding:0px;
   	text-shadow: 0px 1px 1px #fff;
}
 .rest-list .list-box i {
    color: #e5e5e5;
}

 .rest-list .form-control {
    display: block;
    width: 97%;
    padding: 10px 10px;
    font-size: 1rem;
    line-height: 1.5;
    color: #55595c;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 0px;
    margin:15px 0px 20px 0px;
    
}
 .rest-list .btn-search{
	width: 150px;
	background-color:#ffffff;
	color:#4dd23b;
	border-radius:10px;
	margin:30px 0px 30px 0px;
}

 .rest-list .list-des{
	margin-left:20px;
	padding-bottom: 10px;
}
.rest-list  .range-slider ,.radio-btn{
	margin-top:15px;
	margin-bottom:15px;
}

 .rest-list select.input-lg {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  /* no standardized syntax available, no ie-friendly solution available */
}

.rest-list  select + i.fa {
  float: right;
  margin-top: -47px;
  margin-right: 20px;
  /* this is so when you click on the chevron, your click actually goes on the dropdown menu */
  pointer-events: none;
  /* everything after this is just to cover up the original arrow */
  /* (for browsers that don't support the syntax used above) */
  background-color: #fff;
  padding-right: 5px;
}

 .rest-list .check-option{
	line-height: 225%;
	padding: 10px 0px;
}


/* range slider*/
.rest-list  input[type=range] {
    /*removes default webkit styles*/
    -webkit-appearance: none;
    
    /*fix for FF unable to apply focus style bug */
    border: 1px solid white;
    
    /*required for proper track sizing in FF*/
    width: 95%;
}
 .rest-list input[type=range]::-webkit-slider-runnable-track {
    width: 300px;
    height: 3px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}
 .rest-list input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #ffffff;
    margin-top: -8px;
}
 .rest-list input[type=range]:focus {
    outline: none;
}
 .rest-list input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ccc;
}

.rest-list  input[type=range]::-moz-range-track {
    width: 300px;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}
.rest-list  input[type=range]::-moz-range-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: goldenrod;
}

/*hide the outline behind the border*/
.rest-list input[type=range]:-moz-focusring{
    outline: 1px solid white;
    outline-offset: -1px;
}

.rest-list input[type=range]::-ms-track {
    width: 300px;
    height: 5px;
    
    /*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
    background: transparent;
    
    /*leave room for the larger thumb to overflow with a transparent border */
    border-color: transparent;
    border-width: 6px 0;

    /*remove default tick marks*/
    color: transparent;
}
.rest-list input[type=range]::-ms-fill-lower {
    background: #777;
    border-radius: 10px;
}
 .rest-list input[type=range]::-ms-fill-upper {
    background: #ddd;
    border-radius: 10px;
}
.rest-list  input[type=range]::-ms-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: goldenrod;
}
.rest-list input[type=range]:focus::-ms-fill-lower {
    background: #888;
}
 .rest-list input[type=range]:focus::-ms-fill-upper {
    background: #ccc;
}
 .rest-list input{
    margin: 0;
    line-height: inherit;
    border-radius: 5px;
}
/* end rang slider*/